.container {
  margin: 20px;
  color: #fff;
  background-color:#242424;
  padding: 40px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.header {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.eventList {
  overflow:auto;
  height: 600px;
  width: 100%;
  padding: 10px;
}


.event {
  margin: 10px 0 10px 0;
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.event:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
}

.eventType {
  font-weight: bold;
  margin-bottom: 10px;
  color: #8affd4;
}

.eventPayload {
  font-family: monospace;
  white-space: pre-wrap;
  color: #ccc;
  margin-bottom: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: #ccc;
  text-align: right;
}

.details > * {
  margin: 0.25rem 0;
}

.language {
  font-weight: bold;
  text-transform: uppercase;
}

.stars {
  cursor: pointer;
  text-decoration: none;
  color: #8affd4;
}

.stars:hover {
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container:hover{
  transform: scale(1.03);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }


@media screen and (max-width:680px) {
  .container {
    max-width: 100%;
    max-height: 100vh;
    margin: 20px;
    color: #fff;
    background-color: #111;
    padding: 50px;
    border-radius: 30px;
  }
}