.container {
  max-width: 800px;
  max-height: 100vh;
  margin: 0 auto;
  color: #fff;
  background-color: #111;
  padding: 50px;
  border-radius: 10px;
}

.header {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.eventList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.eventListContainer {
  max-height: 100vh;
}

.event {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.event:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
}

.eventType {
  font-weight: bold;
  margin-bottom: 10px;
  color: #8affd4;
}

.eventPayload {
  font-family: monospace;
  white-space: pre-wrap;
  color: #ccc;
  margin-bottom: 10px;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #ccc;
}

.details > * {
  margin: 0.25rem 0;
}

.language {
  font-weight: bold;
  text-transform: uppercase;
}

.stars {
  cursor: pointer;
  text-decoration: none;
  color: #8affd4;
}

.stars:hover {
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
