.navbar {
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #111;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbarRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 4px;
  fill: white;
}

@media screen and (max-width:680px){
  .title {
    display: none;
}
}